/*  */

html{
    font-family: sans-serif;
    line-height: 160%;
}

body{
    background-color: #fff;
    padding: 15px;
    /* width: 80%;
    margin: 0 auto; */

}

header{
    text-align: center;
}

h1{
    margin-block: 20px;
}

main{
    
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.flex > div{
    flex-basis: calc( 90% / 2 );

    background-color: #121212;

    margin-block: 10px;

    color: white;

}

span{
    font-size: 12px;
}

.flex-column{
    flex-direction: column;
    width: 100%;
}




@media screen and ( min-width: 768px ){
    .flex > div{
        flex-basis: calc( 90% / 3 );
    
    
    }

    body{
        background-color: #fff;
        padding: 30px;
    }
}